.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #134705;
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #0c2b03;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #25af04;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #1e8105;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 515px){
  .button{
  padding: 0.5rem 1.5rem;
  }
  .icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }
  .badge{
    padding: 0.25rem 0.5rem;
    margin-left: 0.5rem;
  }
}

@media (max-width: 450px){
  button {
    padding: 0.2rem 0.7rem;
  }
  .button span:nth-child(2){
    font-size: 13px;
  }
  .icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }
}